<div class="container-fluid">
  <div class="row">
    <div class="col-md-12" align="center">
      <div class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <a href="#" class="navbar-brand">MyWebSite</a>
          </div>
          <ul class="nav navbar-nav">
            <li><a href="#">Me</a></li>
            <li><a href="#">Cv</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </div>
      </div>
      <h3>Rémi Carbonne</h3>
      <h3>Full Stack Developpeur</h3>
      <img src="../../assets/angular.png" alt="" style="height: 3%; width: 3%">
      <img src="../../assets/formation-asp_net.png" alt="" style="height: 3%; width: 3%">
    </div>
  </div>
</div>
